body {
    /* margin-left: 20px;
    margin-right: 20px; */
    background-image: url("../images/piscine\ 2.png");
}

.navbar{
    background-color: #E94D14 ;
}

.dropdown-menu{
    background-color:#3DB5E3;
   
}

strong{
    color:#fff;
}

.lead{
    font-size: large;
}

.featurette-heading , h2, h1{
    margin-left: 20px ;
    color: #E94D14;
    /* font-size: 2.25vw; */

}

hr{
    height: 2px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0;
    color:#E94D14;
    background-color:#E94D14;
    border: 0; 
}

/* bouton envoyer pages contact */
.btn-custom{
    background-color: #3DB5E3;
}

footer{
    margin-top: 50px;
}

/*  Extra small devices (portrait phones, less than 576px)
    No media query for `xs` since this is the default in Bootstrap */

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
